{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<p>
    {% if message is not empty %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endif %}
</p>

<p>
    {% if is_user_admin %}
        <!-- These buttons don't work yet. -->
        {{forms.destroy_button("#")}}
        <a href="#" class="btn btn-default">Muokkaa</a>
    {% endif %}
</p>

<h1>Käyttäjänimi: {{user.username}}</h1>

<h2>Käyttöoikeudet: {% if user.admin == 1 %} Ylläpitäjä {% else %} Käyttäjä {% endif %}</h2>

{% endblock %}