{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<script src="{{base_path}}/assets/js/add_recipe.js" language="Javascript" type="text/javascript"></script>

<h1>Muokkaa reseptiä "{{recipe.name}}"</h1>

<p>
    {% if errors is not empty %}
        <div class="alert alert-danger">
            {% for error in errors%}
                {{error}}
            {% endfor %}
        </div>
{% endif %}
</p>

{{forms.destroy_button("#{base_path}/recipe/destroy/#{recipe.id}")}}

<form method="post" action="{{base_path}}/recipe/edit/{{recipe.id}}">

    {% if user_logged_in.admin %}
        <div class="form-group">
            <input type="checkbox" name="approved" value="true">
            <label>Hyväksytty</label>
        </div>
    {% endif %}

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="name" value="{{recipe.name}}">
    </div>

    <div id="ingredient-div">
        {% for ingredient in ingredients %}
        <div class="form-group">
            <label>Ainesosa {{loop.index}}</label>
            <input type="text" name="ingredients[]" class="form-control" value="{{ingredients[loop.index0].name}}">
        </div>

        <div class="form-group">
            <label>Ainesosa {{loop.index}} määrä (cl)</label>
            <input type="text" name="ingredient_amounts[]" class="form-control" value="{{ingredient_amounts[loop.index0]}}">
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Lisää ainesosa" onClick="addIngredientField('ingredient-div');">
    </div>

    <div class="form-group">
        <label for="description">Ohje:</label>
        <textarea class="form-control" rows="5" id="description" name="description">{{recipe.description}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}