{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<h1>Muokkaa reseptiä {{attributes.name}}</h1>

{{forms.destroy_button("#{base_path}/recipe/destroy/#{attributes.id}")}}

<form method="post" action="{{base_path}}/recipe/edit/{{attributes.id}}">

    <div class="form-group">
        <input type="checkbox" name="approved" value="true">
        <label>Hyväksytty</label>
    </div>

    <div class="form-group" type="hidden">
        <input type="text" class="form-control" name="owner_id" value="1">
    </div>

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="name" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label>Ainesosa</label>
        <input type="text" class="form-control" value="">
    </div>

    <div class="form-group">
        <label>Ainesosa</label>
        <input type="text" class="form-control" value="">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}