{% extends "base.html" %}
{% block content %}

<p>
    {% if message is not empty %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endif %}
</p>

<h1>
    Tervetuloa drinkkiarkistoon!
</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
</p>

<img src="{{base_path}}/images/drinkki.jpg">

<p>
    <a href="{{base_path}}/user/login" class="btn btn-primary" >Kirjaudu</a> <a href="{{base_path}}/user/register" class="btn btn-default">Rekisteröidy</a>
</p>

{% endblock %}